body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: #313131;
    font-size: 1.25em;
}

/* h1{
    background-color: transparent;
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    color:blue;
} */

/* h2{
    position: ;
} */

/* FLEXBOX LAYOUT */
html, body {
    min-height: 100vh;
    margin: auto;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    height: 8em;
    background-color: #7a7a7a;
    text-align: center;
    color:white;
}
main {
    flex: auto;
    max-width: 80%;
    margin: auto;
}
footer {
    height: 8em;
    background-color: #7a7a7a;
    text-align: center;
}



/* HEADER/FOOTER */
header, footer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 2.5em;
}


/* FORM ELEMENTS */
input {
    padding: .5em;
    width: 150px;
    background: #FCFCFC;
    border: 1px solid;
}
button {
    padding: .5em;
    width: 75px;
}

/* TABLE */
table {
    width: 100%;
    text-align: left;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
}
th, td {
    padding: .5em;
    min-width: 3.5em;
}
thead {
    background: #7a7a7a;
    color: #fcfcfc;
}
tbody tr:nth-child(odd){ 
    background: #fcfcfc;
}
tbody tr:nth-child(even){
    background: #dcdcdc;
}
